*.amlignore
*.ipynb_*/*.*
*.amltmp
automl_errors.log
.ipynb_aml_checkpoints
.ipynb_checkpoints
automl_errors.*
*.csv
*.log
__pycache__
data/*
model_output/*
*.parquet
runs/*
project/outputs/*
project/runs/*
test-trainer/*
tmp-trainer/*
custom_model/*
project/.amlignore.swp
outputs/*
azureml-logs/*
logs/*
output/*
model_validation/__pycache__/*
model_validation/project/*
model_validation/output*/*
assets/*tar.gz
model*/*
TestNB.ipynb